  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100%;
    background-image: linear-gradient(to right, rgb(53, 53, 53), #2b2b2b);
  }
  
  h2 {
    color: white;
  }